[Unit]
Description = State server for bar mpris information

[Service]
ExecStart=/usr/bin/mpris-player-info hide-server
Type=dbus
BusName=com.github.robinmarchart.mprisutils

CapabilityBoundingSet=
NoNewPrivileges=true
KeyringMode=private

PrivateDevices=true
PrivateNetwork=true
PrivateIPC=true
PrivateUsers=true
ProtectControlGroups=true
ProtectClock=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectSystem=strict
ProtectProc=invisible
ProcSubset=pid
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=~memfd_create
MemoryDenyWriteExecute=true
PrivateTmp=true

SystemCallFilter=~@swap
SystemCallFilter=~@resources
SystemCallFilter=~@reboot
SystemCallFilter=~@raw-io
SystemCallFilter=~@privileged
SystemCallFilter=~@obsolete
SystemCallFilter=~@mount
SystemCallFilter=~@module
SystemCallFilter=~@debug
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@clock

RestrictAddressFamilies=AF_UNIX
