
[Unit]
Description = Playerctl state daemon

[Service]
ExecStart=/usr/bin/playerctld
Type=dbus
BusName=org.mpris.MediaPlayer2.playerctld

#TemporaryFileSystem=/:ro
WorkingDirectory=/
#BindReadOnlyPaths=/dev/log /run/systemd/journal/socket /run/systemd/journal/stdout
#BindReadOnlyPaths=/lib64/ld-linux-x86-64.so.2 /usr/lib/libplayerctl.so.2 /usr/lib/libgobject-2.0.so.0 /usr/lib/libffi.so.8 /usr/lib/libglib-2.0.so.0 /usr/lib/libpcre2-8.so.0 /usr/lib/libgio-2.0.so.0 /usr/lib/libgmodule-2.0.so.0 /usr/lib/libz.so.1 /usr/lib/libmount.so.1 /usr/lib/libblkid.so.1 /usr/lib/libc.so.6
#BindReadOnlyPaths=/usr/bin/playerctld

CapabilityBoundingSet=
NoNewPrivileges=true
KeyringMode=private

PrivateDevices=true
PrivateNetwork=true
PrivateIPC=true
PrivateUsers=true
ProtectControlGroups=true
ProtectClock=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectSystem=strict
ProtectProc=invisible
ProcSubset=pid
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=~memfd_create
MemoryDenyWriteExecute=true
PrivateTmp=true

SystemCallFilter=~@swap
SystemCallFilter=~@resources
SystemCallFilter=~@reboot
SystemCallFilter=~@raw-io
SystemCallFilter=~@privileged
SystemCallFilter=~@obsolete
SystemCallFilter=~@mount
SystemCallFilter=~@module
SystemCallFilter=~@debug
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@clock

RestrictAddressFamilies=AF_UNIX
